body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  /* overflow: hidden; */
}

header {
  padding: 15px 0;
  background-color: #dd571c;
  z-index: 2;
}

/* Styling Navigation section */
nav {
  display: flex;
  justify-content: space-between;
}

/* Styling logo */
#logo {
  font-size: 40px;
  padding-left: 50px;
  padding-top: 5px;
  text-decoration: none;
  color: #fcf6f5;
}

/* styling nav links */

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 50px;
  gap: 30px;
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color: #fcf6f5;
  font-size: 20px;
}

nav a:hover {
  color: black;
}

/* Styling Homepage */
/* Style Main banner section */
#main-header-section {
  height: 660px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.5);
}

#main-banner-img {
  width: 100%;
  height: 900px;
  margin: -90 auto;
  object-fit: cover;
  z-index: -2;
}

#main-banner-info {
  display: flex;
  flex-direction: column;
  margin-top: -500px;
  margin-bottom: 200px;
}

#main-banner-info > h1 {
  font-size: 70px;
  color: white;
}

#main-banner-info > p {
  color: white;
}

/* style order now button */
#btn-order-now {
  border: 1px solid #dd571c;
  border-radius: 8px;
  background-color: #dd571c;
  color: white;
  padding: 15px 20px;
  font-size: 22px;
  width: 20%;
  margin: 0 auto;
  text-decoration: none;
  text-align: center;
}

#btn-order-now:hover {
  color: white;
  background-color: #8d4004;
  border: 1px solid #8d4004;
}

/* style about us section */
#about-us-section {
  background-color: #fcf6f5;
  margin: 0;
  padding: 20px;
}

h2 {
  font-size: 50px;
  padding-top: 20px;
  padding-bottom: 10px;
  margin: 0;
  text-align: center;
  color: #8d4004;
}

#about-us-container {
  display: flex;
  gap: 50px;
  margin: 30px;
}

#about-us-detail {
  font-size: 25px;
}

#about-us-detail span {
  color: #dd571c;
}

/* Style featured menu */
#featureCardContainer {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 30px;
}

.featureCard {
  border: 1px solid transparent;
  border-radius: 100px;
}

.featureCard:hover {
  opacity: 0.5;
}

.featureCard img{
  border: 1px solid transparent;
  border-radius: 100px;
  opacity: 1;
}

.featureMenuItem {
  color: black;
  font-size: 24px;
  opacity: 0;
  z-index: 1;
}

.featureCard img:hover + .featureMenuItem{
  opacity: 1;
}

/* style main menu section */
#main-menu-section {
  background-color: #fcf6f5;
}

#menuCardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin: 10px 30px 0 30px;
  padding: 20px 50px 50px 50px;
}

.menuCard {
  border: 1px solid white;
  width: 250px;
  background-color: white;
  padding-bottom: 20px;
}

.menuCardDetail {
  padding: 8px 20px;
  font-size: 20px;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

.menuCardDetail h3 {
  margin: 5px auto 0 auto;
}

.menuCardDetail h4 {
  margin: 5px 0 0 0;
  text-align: right;
  padding: 5px;
}

.menuCardDetail p {
  margin: 0;
  padding: 0 0 20px 0;
}

.menuCardDetail span {
  color: #8d4004;
}

.menuCardDetail a {
  border: 1px solid #dd571c;
  border-radius: 8px;
  background-color: #dd571c;
  color: white;
  padding: 10px 20px;
  font-size: 15px;
  width: 20%;
  text-decoration: none;
  text-align: center;
}

.menuCardDetail a:hover {
  color: white;
  background-color: #8d4004;
  border: 1px solid #8d4004;
}

/* styling order status main-section */
h1 {
  font-size: 35px;
  color: #8d4004;
  text-align: center;
  margin: 40px auto;
}

.form {
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #efebeb;
  padding: 30px;
  width: 25%;
  margin: 10px auto 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
}

.form p {
  margin: 13px;
}

label {
  font-size: 23px;
  padding-bottom: 10px;
}

input[type="text"]{
  width: 100%;
  font-size: 20px;
  color: gray;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.checkbox > label {
  font-size: 20px;
  padding: 0px 5px 10px 5px;
}

/* style check and order button */
.btn-form {
  border: 1px solid #dd571c;
  border-radius: 8px;
  background-color: #dd571c;
  color: white;
  padding: 10px 20px;
  font-size: 20px;
  width: 30%;
  margin: 0 auto;
}

.btn-form:hover {
  color: white;
  background-color: #8d4004;
  border: 1px solid #8d4004;
}

/* Order Status result section */
#statusContainer {
  margin: 20px auto 140px auto;
}

#statusContainer > h2 {
  font-size: 30px;
  color: #8d4004;
  text-align: center;
  padding-top: 10px;
}

#statusCard {
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #efebeb;
  padding: 30px;
  width: 25%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#statusCard p {
  font-size: 18px;
  margin: 0;
  padding-bottom: 10px;
}

#statusCard span {
  color: #dd571c;
}

span {
  color: #dd571c;
}

/* styling footer section */
footer {
  background-color: #dd571c;
  color: #fff;
  padding: 40px 0;
  text-align: center;
  font-size: 20px;
}

/* Styling of footer social media icons using class selector */
#social-media-icons {
  text-align: center;
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-left: 0;
}

#social-media-icons a {
  text-decoration: none;
  padding: 20px 10px;
  color: #fff;
}
