<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant</title>

    {{! External Stylesheet }}
    {{! <link rel="stylesheet" href="/public/css/styles.css"> }}
    <link rel="stylesheet" href="/css/app.css" />

  </head>
  <body>
    {{! Navigation Section }}
    <header>
      <nav>
        {{! Logo section }}
        <a href="/" id="logo">FOodZone</a>

        {{! Navbar links }}
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/order-form">Order Form</a></li>
          <li><a href="/order-status">Order Status</a></li>
        </ul>
      </nav>
    </header>

    {{! This is a main section which will change for different pages }}
    {{{body}}}

    {{! Footer section }}
    <footer>
      <p>&copy; This is restaurant webpage</p>
      <ul id="social-media-icons">
        <li><a href="#"><img
              src="/images/footer-icons/facebook_icon.png"
              alt="This is Facebook Icon"
            /></a></li>
        <li><a href="#"><img
              src="/images/footer-icons/instagram_icon.png"
              alt="This is Facebook Icon"
            /></a></li>
        <li><a href="#"><img
              src="/images/footer-icons/twitter_icon.png"
              alt="This is Facebook Icon"
            /></a></li>
        <li><a href="#"><img
              src="/images/footer-icons/tiktok_icon.png"
              alt="This is Facebook Icon"
            /></a></li>
      </ul>
    </footer>

  </body>
</html>