<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{page}}</title>
    <script src="js/script.js"></script>
    <link rel="stylesheet" href="assets/css/style.css" />
  </head>
  <body class="no-margin">
 
    <header>
      <nav>
        <a href="/" id="logo">Driver Dashboard</a>
      {{#if notShowTabs}}
      {{else}}
        <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="/order">Your delivery</a></li>
          <li><a href="/record">Record</a></li>
          <li><a href="/logout">Log out</a></li>
        </ul>
      {{/if}}

      </nav>
    </header>

    {{{body}}}

    <footer>
      <p>&copy; This is restaurant webpage</p>
      <ul id="social-media-icons">
        <li><a href="#"><img
              src="assets/images/facebook_icon.png"
              alt="This is Facebook Icon"
            /></a></li>
        <li><a href="#"><img
              src="assets/images/instagram_icon.png"
              alt="This is Facebook Icon"
            /></a></li>
        <li><a href="#"><img
              src="assets/images/twitter_icon.png"
              alt="This is Facebook Icon"
            /></a></li>
        <li><a href="#"><img
              src="assets/images/tiktok_icon.png"
              alt="This is Facebook Icon"
            /></a></li>
      </ul>
    </footer>
  </body>
</html>