/* #region GENERAL */
* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

main {
  padding: 15px 50px;
}

h2 {
  padding: 15px;
  margin: 0;
}

hr {
  margin: 0;
}

.orange-white {
  background-color: #dd571c;
  color: white;
}

.black-white {
  background-color: black;
  color: white;
}

.white-black {
  border: 1px solid black;
  color: black;
}
/* #endregion GENERAL */

/* #region HEADER */
header {
  padding: 15px 0;
  background-color: #dd571c;
  z-index: 2;
}

nav {
  display: flex;
  justify-content: space-between;
}

#logo {
  font-size: 40px;
  padding-left: 50px;
  padding-top: 5px;
  text-decoration: none;
  color: #fcf6f5;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 50px;
  gap: 30px;
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color: #fcf6f5;
  font-size: 20px;
}

nav a:hover {
  color: black;
}
/* #endregion HEADER */

/* #region FOOTER */
footer {
  background-color: #dd571c;
  color: #fff;
  padding: 40px 0;
  text-align: center;
  font-size: 20px;
}

#social-media-icons {
  text-align: center;
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-left: 0;
}

#social-media-icons a {
  text-decoration: none;
  padding: 20px 10px;
  color: #fff;
}
/* #endregion FOOTER */

#orders {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.order-col {
  flex: 1 1 0;
}

.order-col h3 {
  margin: 15px 10px;
}

.order-card ul {
  list-style-type: none;
  margin: 0;
  padding: 10px 0 0 10px;
}

.order-card ul li {
  display: flex;
  align-items: center;
  margin: 0;
}

.order-card ul li p,
h4 {
  margin: 0;
}

.order-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.order-card a {
  text-decoration: none;
  color: black;
  width: 100%;
  padding: 10px;
}

.order-card a:hover {
  text-decoration: none;
  background-color: lightsalmon;
}

.order-card h3 {
  margin: 0;
  text-decoration: underline;
}

.order-card p {
  margin: 0;
}
