<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{page}}</title>

    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <a href="/" id="logo">Full Stack</a>

        <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="/history">HISTORY</a></li>
          <li><a href="/order">ORDER</a></li>
        </ul>
      </nav>
    </header>

    {{{body}}}

    <footer>
      <p>&copy; This is restaurant webpage</p>
      <ul id="social-media-icons">
        <li><a href="#"><img
              src="/images/footer-icons/facebook_icon.png"
              alt="This is Facebook Icon"
            /></a></li>
        <li><a href="#"><img
              src="/images/footer-icons/instagram_icon.png"
              alt="This is Facebook Icon"
            /></a></li>
        <li><a href="#"><img
              src="/images/footer-icons/twitter_icon.png"
              alt="This is Facebook Icon"
            /></a></li>
        <li><a href="#"><img
              src="/images/footer-icons/tiktok_icon.png"
              alt="This is Facebook Icon"
            /></a></li>
      </ul>
    </footer>
  </body>
</html>