<style>
  .hidden { display: none; } .flex-row { display: flex; align-items: center;
  gap: 10px; } p { margin:0 }
</style>
<main>
  <form action="/add-order" method="post">
    <div class="flex-row">
      <label for="name">Name</label>
      <input
        type="text"
        name="name"
        id="name"
        required
        placeholder="Firstname Lastname"
        autocomplete="off"
      />
    </div>
    <div class="flex-row">
      <label for="address">Address</label>
      <input
        type="text"
        name="address"
        id="address"
        required
        placeholder="Address"
        autocomplete="off"
      />
    </div>
    {{#each orders}}
      <div class="flex-row">
        <input type="text" value="{{this._id}}" name="item" class="hidden" />
        <p>{{this.name}}</p>
        x
        <input type="number" name="quantity" min="0" max="20" value="0" />
      </div>
    {{/each}}
    <div class="flex-row">
      <label>Driver</label>
      <select name="driver">
        <option value=""></option>
        {{#each drivers}}
          <option value="{{this._id}}">{{this.name}}</option>
        {{/each}}
      </select>
    </div>

    <button type="submit">SUBMIT ORDER</button>
  </form>
</main>