<body>
<div style="margin-top:2%; display:flex; flex-direction:column; align-items:center; justify-content:center;">
  {{#if error}}
    <p style="color: red;">{{error}}</p>
  {{/if}}
  <div>
    <form action="/login" method="post" id="loginForm">
      <div style="display:flex; flex-direction: column; gap:20px">
        <div>
          <label for="username">Username:</label>
          <input type="text" name="username" required="true">
        </div>

        <div>
          <label for="password">Password:</label>
          <input type="password" name="password" required="true">
        </div>

        <button type="submit" onclick="changeActionFromLoginPage('/login')">Login</button>
        <button type="submit" onclick="changeActionFromLoginPage('/register')">Register</button>
      </div>
    </form>
  </div>
</div>
</body>
