
<body>
    <div style="display:flex; flex-direction:column; align-items:center;">
        <h2>Please fill in below:</h2>
        {{#if error}}
            <h2>{{this.error}}</h2>
        {{/if}}
        <div>
            <form action="/register" method="post" id="registerForm">
                <div style="display:flex; flex-direction: column; gap:20px;">
                    <div class="form-group">
                        <label for="username">User name:</label>
                        <input type="text" name="username" required="true">
                    </div>

                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" name="password" required="true">
                    </div>

                    <div class="form-group">
                        <label for="fullname">Full name:</label>
                        <input type="text" name="fullname" required="true">
                    </div>

                    <div class="form-group">
                        <label>
                            What's your vehicle?
                        </label>
                        <label for="vehicleModel">
                            <input type="radio" name="model" value="bike" required="true">
                            Bike
                        </label>
                        <label for="vehicleModel">
                            <input type="radio" name="model" value="car" required="true">
                            Car
                        </label>
                        <label for="vehicleModel">
                            <input type="radio" name="model" value="suv" required="true">
                            SUV
                        </label>
                        <label for="vehicleModel">
                            <input type="radio" name="model" value="E-scooter" required="true">
                            E-scooter
                        </label>
                    </div>

                    <div class="form-group">
                        <label for="color">Color:</label>
                        <input type="text" name="color" required="true">

                    </div>

                    <div class="form-group">
                        <label for="color">license:</label>
                        <input type="text" name="license" required="true">
                    </div>

                    <button type="submit">Confirm</button>
                    <button type="button" onclick="window.location.href='/login'">Return</button>
                </div>
            </form>
        </div>
    </div>
</body>
