<main>
  <!-- Main Image heading section of Homepage-->
  <section id="main-header-section">
    <div id="main-banner-img">
      <img
        src="/images/food-pics/main-banner.jpg"
        alt="This is a image of platter"
        style="width: 100%; height: 750px"
      />
    </div>
    <div id="main-banner-info">
      <h1>Food Zone</h1>
      <p>Order your best food anytime, anywhere!</p>
      <a href="/order-form" id="btn-order-now">Order Now</a>
    </div>
  </section>

  {{! About Us Section }}
  <section id="about-us-section">
    <h2>About Us</h2>
    <div id="about-us-container">
      <img
        src="/images/food-pics/about-us.jpg"
        alt="about us img"
        style="width: 40%; height: 400px;"
      />
      <div id="about-us-detail">
        <p>Restaurant Location: <span>Toronto, Canada</span></p>
        <p>Days: <span>Monday to Sunday</span></p>
        <p>Hours: <span>10:00AM to 10:00PM</span></p>
      </div>
    </div>
  </section>

  {{! Featured Menu Section }}
  <section id="feature-menu-section">
    <h2>Our Featured Menu Items</h2>
    <div id="featureCardContainer">
      <div class="featureCard">
        <img src="/images/food-pics/burger.jpg" alt="This is burger" style="width: 200px; height:200px;"/>
        <h2 class="featureMenuItem">Burger</h2>
      </div>
      <div class="featureCard">
        <img src="/images/food-pics/dumpling.jpg" alt="This is dumpling" style="width: 200px; height:200px;"/>
        <h2 class="featureMenuItem">Dumpling</h2>
      </div>
      <div class="featureCard">
        <img src="/images/food-pics/pizza.jpg" alt="This is pizza" style="width: 200px; height:200px;"/>
        <h2 class="featureMenuItem">Pizza</h2>
      </div>
      <div class="featureCard">
        <img src="/images/food-pics/salad.jpg" alt="This is salad" style="width: 200px; height:200px;"/>
        <h2 class="featureMenuItem">Salad</h2>
      </div>
    </div>
  </section>

  {{! Main Menu Section }}
  <section id="main-menu-section">
    <h2>Our Menu</h2>
    <div id="menuCardContainer">
      <div class="menuCard">
        <img src="/images/food-pics/burger.jpg" alt="This is burger" style="width:250px; height:250px;"/>
        <div class="menuCardDetail">
            <h3>Burger</h3>
            <p>Price: <span>$10</span></p>
            <a href="#" class="btn-add">Add</a>
        </div>
      </div>
      <div class="menuCard">
        <img src="/images/food-pics/dumpling.jpg" alt="This is dumpling" style="width:250px; height:250px;"/>
        <div class="menuCardDetail">
            <h3>Dumpling</h3>
            <p>Price: <span>$8</span> </p>
            <a href="#" class="btn-add">Add</a>
        </div>
      </div>
      <div class="menuCard">
        <img src="/images/food-pics/pizza.jpg" alt="This is pizza" style="width:250px; height:250px;"/>
        <div class="menuCardDetail">
            <h3>Pizza</h3>
            <p>Price: <span>$15</span></p>
            <a href="#" class="btn-add">Add</a>
        </div>
      </div>    
      <div class="menuCard">
        <img src="/images/food-pics/salad.jpg" alt="This is salad" style="width:250px; height:250px;"/>
        <div class="menuCardDetail">
            <h3>Sandwich</h3>
            <p>Price: <span>$13</span></p>
            <a href="#" class="btn-add">Add</a>
        </div>
      </div>
    </div>
  </section>
</main>