<main>
    <h1>Place your order</h1>
    <form action="">
        <label for="orderId">Order ID</label>
        <br>
        <input type="text" name="orderId" placeholder="Enter your order Id">
        <br><br>
        <button type="submit" id="btn-order">Order</button>
    </form>
</main>